{% extends "common_master.html" %}
{% load static %}
{% block content %}

<section class="inner-course">
    <div class="container">
        {% for card in card_element %}

        <div class="content">

            <div class="content-img">
                <img src="{{card.image.url}}" alt="">
            </div>
            <div class="content-text">
                <h2 class="content-title">{{card.heading}}</h2>
                <h4 class="content-subtitle">{{card.sub_heading}}</h4>
                <p class="content-paragraph">{{card.text1}}</p>
                <p class="content-paragraph">{{card.text2}}</p>
                <a href="{% url 'common:registration' %}" class="btn">Register Now</a>
            </div>
        </div>
        {% endfor %}

    </div>

</section>

{% endblock %}