{% extends "common_master.html" %}
{% load static %}
{% block content %}


<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>What we <span>Offer</span></h2>
                    <h4>Through our Academy, we aims at providing the following services for
                        each of the candidates, that might be beneficial for them in their journey.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-pen-fancy"></i>
                    <h4>PLACEMENT</h4>
                    <p>
                        Through our course we provide 100% placement assurance with an internationally valid
                        certificate and best salary package, which makes your career bright.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-dharmachakra"></i>
                    <h4>NPL SERVICES</h4>
                    <p>
                        NLP is the pseudo-scientific method to communicate with people for mental development
                        and psychotherapy. It convert negative thoughts to positive.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-tasks"></i>
                    <h4>COUNSELLING</h4>
                    <p>
                        Counselling helps in identifying the right goals and solutions for the undergoing mental
                        problems.
                        It enhances the behaviour and elevates self-esteem.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-tachometer-alt"></i>
                    <h4>MENTALISM</h4>
                    <p>
                        Mentalism is a form of art that helps to develop mental and intuitive abilities.
                        Anyone with a curious and passionate mindset can learn mentalism easily.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-recycle"></i>
                    <h4>BUSINESS SUPPORT</h4>
                    <p>
                        Provides business support for the clients by conducting mental health
                        coaching programs to lead a successful business by tackling all the problems.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-headset"></i>
                    <h4>24/7 SUPPORT</h4>
                    <p>
                        Provides personal coaching and guidance programs for the counsellors
                        and teachers for developing their social, academic, and career skills.
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</section>

{% endblock %}